.nav-container {
    margin: 30px 140px 30px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-wrapper {
    list-style: none;
    margin-left: auto;
    display: flex;
}

.link {
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.8rem;
    color: black;
}

.link:hover {
    color:red;
}

.link-active {
    text-decoration: none;
    padding: 8px 18px;
    margin: 0 15px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: white;
    border: 1px solid red;
    background-color: rgb(255, 99, 71);
}

.link-active:hover {
    text-decoration: none;
    padding: 8px 18px;
    margin: 0 15px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: rgb(255, 99, 71);
    border: 1px solid red;
    background-color: white;
}

.btn-menu {
    display: none;
}

@media (max-width: 500px) {

    .nav-container {
        margin: 15px 0 10px 0;
        flex-direction: column;
    }

    .list-wrapper {
        height: 150px;
        padding: 0;
        margin: 20px 0 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}